# Data Manipulation & Math
numpy
pandas
pickle
sklearn.metrics.pairwise

# Machine Learning
scikit-learn


# Visualization (untuk EDA)
matplotlib
seaborn

# Web Framework & Database
flask
flask-sqlalchemy

# Web Server (Opsional, untuk production)
gunicorn
streamlit

# Image display
PIL 