# Data Manipulation & Math
numpy
pandas

# Machine Learning
scikit-learn

# Visualization (untuk EDA)
matplotlib
seaborn

# Web Framework & Database
flask
flask-sqlalchemy

# Web Server & UI Framework
gunicorn
streamlit

# Image display
Pillow